body {
    background-color: black;
    position: fixed;
    color: red;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    
    //height: 100vh;
}

h1 {
    color: blue;
    font-size: 6rem;
    margin: 0;
}

p {
    color: white;
    font-size: 4rem;
    color: yellow;
}

.viewport {
    //display: block;
    width: 100vw;
    height: 100vh; // 100% of the viewport

    background-image: url(/assets/img/wp2572362.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;

    position: relative;

    //border: 4px solid green;

    section {
        position: absolute;
        transform-style: preserve-3d;

        //border: 4px solid red;
        
        top: auto;
        left: auto;

        top:0;
        bottom:0;
        left:0;
        right:0;
        transform-origin:50% 100%;
        transform:perspective(150px) rotateX(20deg);

        animation: scroll 30s infinite;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    
}

@keyframes scroll {
    //from {top: 0px;}
    //to {top: 100%;}

    from {
        top: 100%;
    }

    to{
        top: -500%;
    }
  }

